<h1 class="component-title"> Transactions' search </h1>

<form (ngSubmit)="getTransactions()" #createForm="ngForm" class="main-form">
  
  <div class="main-group">
    <label class="main-label" for="action">Action</label>
    <select class="main-select" name="action" [(ngModel)]="action">
      <option class="main-option" [ngValue]="undefined">-- any --</option>
      <option class="main-option" *ngFor="let action of actionObject | enumToArray">
        {{action}} 
      </option>
    </select>
  </div>

  <div class="main-group">
    <label class="main-label" for="currencyCode">Currency</label>
    <select class="main-select" name="currencyCode" [(ngModel)]="currencyCode">
      <option class="main-option" [ngValue]="undefined">-- any --</option>
      <option class="main-option" *ngFor="let currencyCode of currencyCodeObject | enumToArray"> 
        {{currencyCode}} 
      </option>
    </select>
  </div>

  <div class="main-group">
    <label class="main-label" for="orderBy">Order by</label>
    <select class="main-select" name="orderBy" [(ngModel)]="orderBy">
      <option class="main-option" [ngValue]="undefined">-- default --</option>
      <option class="main-option" [ngValue]="'date'">date</option>
      <option class="main-option" [ngValue]="'-date'">-date</option>
    </select>
  </div>

  <button class="main-button" type="submit"> Search transactions </button>
</form>

<ul *ngIf="transactions.length>0">
  <li *ngFor="let transaction of transactions">
    <app-transaction-detail [transaction]="transaction"></app-transaction-detail>
  </li>
</ul>

<p *ngIf="noResults" class="message">
  No transactions were found, try a different search
</p>

<p *ngIf="errorMessage" class="message error">
  {{errorMessage}}
</p>
